@model IEnumerable<Book.Models.Contact>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacts</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
        }

    </table>
    <div class="dropdown text-center">
        <p><a href="/Home/Create" class="btn btn-primary">Новый контакт &raquo;</a></p>
    </div>
    @*<div class="text-center">
        @helper ContactList(IEnumerable<Book.Models.Contact> contacts)
        {
            <ul>
                @foreach (Book.Models.Contact b in contacts)
                {
                    <li>@b.Name</li>
                }

            </ul>
        }
        <h2>Список имен контактов</h2>
        @ContactList(Model)
    </div>*@
</body>
</html>


